.conteiner{    
    margin-left: 3%;
}
.card {
    /* background-color: red; */
    /* color: red; */
    width: 350px;
    border-radius: 10px;
    border: solid;
    background: rgb(132, 173, 185);
    /* height: 150px; */
    /* display: flex;
    flex-direction: row; */
}
.eliminar{
    background: rgb(132, 173, 185);
    border: 0ch;
}
.eliminar:hover{
color: blueviolet;
}
#provincia{
    size: 1vw;
}

#continente{
    size: 1vw;
}

#pais{
    size: 1vw;
}

#cordenada{
    
    size: 1vw;
}

#longitud{
    size: 1vw;
}

#temperatura{
    text-align: center;
    font-size: 4vw;
    font-size: 8vh;
    color: rgb(20, 59, 143);
}

#viento{
    size: 3vw;
    
}