.conteiner{    
    margin-left: 3%;
}/*
.card {
    /* background-color: red; */
    /* color: red; */
   /* width: 350px;
    border-radius: 10px;
    border: solid;
    background: rgb(132, 173, 185);
    /* height: 150px; */
    /* display: flex;
    flex-direction: row; */

/* El fondo animado*/
.card{
    /*background: linear-gradient(135deg,#0F4C75,#505488,#5A4894,#A950A1,#FF7CAE,#4DBA9B );*/
    width: 350px;
    border-radius: 10px;     
    background: #1f2932;
    color: rgb(255, 255, 255);
    
  }
.eliminar{    
    background-color: #1f2932;
    color: rgb(255, 255, 255);
 /*   background-color: rgb(255, 255, 255);*/
    border: 0ch;    
  opacity: 1;
}
.eliminar:hover{
color: blueviolet;
}
#provincia{
    size: 1vw;
}
.emoticon{
size: 3vw;
}
#continente{
    size: 1vw;
}

#pais{
    size: 1vw;
}

#cordenada{
    
    size: 1vw;
}

#longitud{
    size: 1vw;
}

#temperatura{
    text-align: center;
    font-size: 4vw;
    font-size: 8vh;
    color: rgb(20, 59, 143);
}

#viento{
    size: 3vw;
    
}